* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: aliceblue;
  height: 100vh;
}

.container {
  max-width: 700px;
  background-color: #2e59e6;
  padding: 2rem 3rem;
  border-radius: 2rem;
  transition: 0.2s ease-in-out;
}

.progress-bar {
  height: 2px;
  background-color: whitesmoke;
  animation: grow 15s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

.container .text {
  font-size: 1.6rem;
  padding: 2rem 0rem;
  color: whitesmoke;
  letter-spacing: 0.5px;
  line-height: 2rem;
  text-align: justify;
  text-indent: 5rem;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.profile img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 1rem 2rem;
}

.profile .profile-info {
  color: whitesmoke;
}

.profile .profile-info .name {
  font-size: 2rem;
  font-weight: bold;
}

.profile .profile-info .role {
  font-size: 1.4rem;
}

/* for Tablets */
@media screen and (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
  .container {
    width: 100%;
    margin: 2rem;
  }
}

/* for Smart Phones  */
@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .container {
    width: 100%;
    margin: 2rem;
  }

  .container .text {
    text-indent: 0;
  }
}
