* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

button {
  padding: 1rem 1.7rem;
  font-size: 1.7rem;
  cursor: pointer;
  overflow: hidden;
  background-color: gold;
  border: 0.1rem solid grey;
  border-radius: 0.5rem;
  position: relative;
}

button:focus {
  outline: none;
}

button .circle {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
    
  }
}

/* for Tablets */
@media screen and (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

/* for Smart Phones  */
@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}
